In [1]:
import pandas as pd
from openai import OpenAI
from sqlalchemy import create_engine, Column, String, MetaData, Table
from pgvector.sqlalchemy import Vector
import os
from dotenv import load_dotenv
import json

with open('service_dataset.json', 'r', encoding='utf-8') as f:
    data = json.load(f)

df = pd.DataFrame(data['service'])

final_df = df[['contentTypeId', 'cat1', 'cat2', 'cat3']].fillna("")
df['cat1Nm'] = df['cat1Nm'].replace("인문(문화/예술/역사)", "인문")
final_df["catNm"] = df["cat1Nm"].fillna("") + " " + df["cat2Nm"].fillna("")+ " " + df["cat3Nm"].fillna("")
final_df

   contentTypeId cat1   cat2       cat3           catNm
0             12  A01                              자연
1             12  A01  A0101                  자연 자연관광지
2             12  A01  A0101  A01010100   자연 자연관광지 국립공원
3             12  A01  A0101  A01010200   자연 자연관광지 도립공원
4             12  A01  A0101  A01010300   자연 자연관광지 군립공원
..           ...  ...    ...        ...             ...
72            14  A02  A0206  A02061000    인문 문화시설 대형서점
73            14  A02  A0206  A02061100  인문 문화시설 문화전수시설
74            14  A02  A0206  A02061200     인문 문화시설 영화관
75            14  A02  A0206  A02061300     인문 문화시설 어학당
76            14  A02  A0206  A02061400      인문 문화시설 학교

[77 rows x 5 columns]

In [10]:
from sqlalchemy import create_engine, MetaData, Table, Column, String
from pgvector.sqlalchemy import Vector

load_dotenv()
client = OpenAI(api_key=os.getenv("OPENAI_API_KEY"))
engine = create_engine("postgresql+psycopg2://postgres:1234@localhost:5432/postgres")

metadata = MetaData()

embeddings = []
for text in final_df["catNm"]:
    response = client.embeddings.create(
        model="text-embedding-3-small",
        input=text
    )
    embeddings.append(response.data[0].embedding)

dimension = len(embeddings[0])

table = Table(
    "service_category",
    metadata,
    Column("contentTypeId", String),
    Column("cat1", String),
    Column("cat2", String),
    Column("cat3", String),
    Column("catNm", String),
    Column("embedding", Vector(dimension))
)

metadata.create_all(engine)

# 5. 데이터 삽입
with engine.connect() as conn:
    for i, row in final_df.iterrows():
        print(i, row)
        # conn.execute(
        #     table.insert().values(
        #         city_code1=row["city_code1"],
        #         city_code2=row["city_code2"],
        #         city_str=row["city_str"],
        #         embedding=embeddings[i]
        #     )
        # )

0 contentTypeId      12
cat1              A01
cat2
cat3
catNm            자연
Name: 0, dtype: object
1 contentTypeId           12
cat1                   A01
cat2                 A0101
cat3
catNm            자연 자연관광지
Name: 1, dtype: object
2 contentTypeId               12
cat1                       A01
cat2                     A0101
cat3                 A01010100
catNm            자연 자연관광지 국립공원
Name: 2, dtype: object
3 contentTypeId               12
cat1                       A01
cat2                     A0101
cat3                 A01010200
catNm            자연 자연관광지 도립공원
Name: 3, dtype: object
4 contentTypeId               12
cat1                       A01
cat2                     A0101
cat3                 A01010300
catNm            자연 자연관광지 군립공원
Name: 4, dtype: object
5 contentTypeId            12
cat1                    A01
cat2                  A0101
cat3              A01010400
catNm            자연 자연관광지 산
Name: 5, dtype: object
6 contentTypeId                  12
cat1                          A01
cat2                        A0101
cat3                    A01010500
catNm            자연 자연관광지 자연생태관광지
Name: 6, dtype: object
7 contentTypeId                12
cat1                        A01
cat2                      A0101
cat3                  A01010600
catNm            자연 자연관광지 자연휴양림
Name: 7, dtype: object
8 contentTypeId              12
cat1                      A01
cat2                    A0101
cat3                A01010700
catNm            자연 자연관광지 수목원
Name: 8, dtype: object
9 contentTypeId             12
cat1                     A01
cat2                   A0101
cat3               A01010800
catNm            자연 자연관광지 폭포
Name: 9, dtype: object
10 contentTypeId             12
cat1                     A01
cat2                   A0101
cat3               A01010900
catNm            자연 자연관광지 계곡
Name: 10, dtype: object
11 contentTypeId              12
cat1                      A01
cat2                    A0101
cat3                A01011000
catNm            자연 자연관광지 약수터
Name: 11, dtype: object
12 contentTypeId               12
cat1                       A01
cat2                     A0101
cat3                 A01011100
catNm            자연 자연관광지 해안절경
Name: 12, dtype: object
13 contentTypeId               12
cat1                       A01
cat2                     A0101
cat3                 A01011200
catNm            자연 자연관광지 해수욕장
Name: 13, dtype: object
14 contentTypeId            12
cat1                    A01
cat2                  A0101
cat3              A01011300
catNm            자연 자연관광지 섬
Name: 14, dtype: object
15 contentTypeId                12
cat1                        A01
cat2                      A0101
cat3                  A01011400
catNm            자연 자연관광지 항구/포구
Name: 15, dtype: object
16 contentTypeId             12
cat1                     A01
cat2                   A0101
cat3               A01011600
catNm            자연 자연관광지 등대
Name: 16, dtype: object
17 contentTypeId             12
cat1                     A01
cat2                   A0101
cat3               A01011700
catNm            자연 자연관광지 호수
Name: 17, dtype: object
18 contentTypeId            12
cat1                    A01
cat2                  A0101
cat3              A01011800
catNm            자연 자연관광지 강
Name: 18, dtype: object
19 contentTypeId             12
cat1                     A01
cat2                   A0101
cat3               A01011900
catNm            자연 자연관광지 동굴
Name: 19, dtype: object
20 contentTypeId          12
cat1                  A01
cat2                A0102
cat3
catNm            자연 관광자원
Name: 20, dtype: object
21 contentTypeId                12
cat1                        A01
cat2                      A0102
cat3                  A01020100
catNm            자연 관광자원 희귀동.식물
Name: 21, dtype: object
22 contentTypeId              12
cat1                      A01
cat2                    A0102
cat3                A01020200
catNm            자연 관광자원 기암괴석
Name: 22, dtype: object
23 contentTypeId      12
cat1              A02
cat2
cat3
catNm            인문
Name: 23, dtype: object
24 contentTypeId           12
cat1                   A02
cat2                 A0201
cat3
catNm            인문 역사관광지
Name: 24, dtype: object
25 contentTypeId             12
cat1                     A02
cat2                   A0201
cat3               A02010100
catNm            인문 역사관광지 고궁
Name: 25, dtype: object
26 contentTypeId            12
cat1                    A02
cat2                  A0201
cat3              A02010200
catNm            인문 역사관광지 성
Name: 26, dtype: object
27 contentTypeId            12
cat1                    A02
cat2                  A0201
cat3              A02010300
catNm            인문 역사관광지 문
Name: 27, dtype: object
28 contentTypeId             12
cat1                     A02
cat2                   A0201
cat3               A02010400
catNm            인문 역사관광지 고택
Name: 28, dtype: object
29 contentTypeId             12
cat1                     A02
cat2                   A0201
cat3               A02010500
catNm            인문 역사관광지 생가
Name: 29, dtype: object
30 contentTypeId               12
cat1                       A02
cat2                     A0201
cat3                 A02010600
catNm            인문 역사관광지 민속마을
Name: 30, dtype: object
31 contentTypeId                  12
cat1                          A02
cat2                        A0201
cat3                    A02010700
catNm            인문 역사관광지 유적지/사적지
Name: 31, dtype: object
32 contentTypeId             12
cat1                     A02
cat2                   A0201
cat3               A02010800
catNm            인문 역사관광지 사찰
Name: 32, dtype: object
33 contentTypeId               12
cat1                       A02
cat2                     A0201
cat3                 A02010900
catNm            인문 역사관광지 종교성지
Name: 33, dtype: object
34 contentTypeId               12
cat1                       A02
cat2                     A0201
cat3                 A02011000
catNm            인문 역사관광지 안보관광
Name: 34, dtype: object
35 contentTypeId           12
cat1                   A02
cat2                 A0202
cat3
catNm            인문 휴양관광지
Name: 35, dtype: object
36 contentTypeId               12
cat1                       A02
cat2                     A0202
cat3                 A02020200
catNm            인문 휴양관광지 관광단지
Name: 36, dtype: object
37 contentTypeId                   12
cat1                           A02
cat2                         A0202
cat3                     A02020300
catNm            인문 휴양관광지 온천/욕장/스파
Name: 37, dtype: object
38 contentTypeId                12
cat1                        A02
cat2                      A0202
cat3                  A02020400
catNm            인문 휴양관광지 이색찜질방
Name: 38, dtype: object
39 contentTypeId               12
cat1                       A02
cat2                     A0202
cat3                 A02020500
catNm            인문 휴양관광지 헬스투어
Name: 39, dtype: object
40 contentTypeId               12
cat1                       A02
cat2                     A0202
cat3                 A02020600
catNm            인문 휴양관광지 테마공원
Name: 40, dtype: object
41 contentTypeId             12
cat1                     A02
cat2                   A0202
cat3               A02020700
catNm            인문 휴양관광지 공원
Name: 41, dtype: object
42 contentTypeId                    12
cat1                            A02
cat2                          A0202
cat3                      A02020800
catNm            인문 휴양관광지 유람선/잠수함관광
Name: 42, dtype: object
43 contentTypeId           12
cat1                   A02
cat2                 A0203
cat3
catNm            인문 체험관광지
Name: 43, dtype: object
44 contentTypeId                    12
cat1                            A02
cat2                          A0203
cat3                      A02030100
catNm            인문 체험관광지 농.산.어촌 체험
Name: 44, dtype: object
45 contentTypeId               12
cat1                       A02
cat2                     A0203
cat3                 A02030200
catNm            인문 체험관광지 전통체험
Name: 45, dtype: object
46 contentTypeId               12
cat1                       A02
cat2                     A0203
cat3                 A02030300
catNm            인문 체험관광지 산사체험
Name: 46, dtype: object
47 contentTypeId               12
cat1                       A02
cat2                     A0203
cat3                 A02030400
catNm            인문 체험관광지 이색체험
Name: 47, dtype: object
48 contentTypeId               12
cat1                       A02
cat2                     A0203
cat3                 A02030600
catNm            인문 체험관광지 이색거리
Name: 48, dtype: object
49 contentTypeId           12
cat1                   A02
cat2                 A0204
cat3
catNm            인문 산업관광지
Name: 49, dtype: object
50 contentTypeId              12
cat1                      A02
cat2                    A0204
cat3                A02040400
catNm            인문 산업관광지 발전소
Name: 50, dtype: object
51 contentTypeId              12
cat1                      A02
cat2                    A0204
cat3                A02040600
catNm            인문 산업관광지 식음료
Name: 51, dtype: object
52 contentTypeId             12
cat1                     A02
cat2                   A0204
cat3               A02040800
catNm            인문 산업관광지 기타
Name: 52, dtype: object
53 contentTypeId                 12
cat1                         A02
cat2                       A0204
cat3                   A02040900
catNm            인문 산업관광지 전자-반도체
Name: 53, dtype: object
54 contentTypeId              12
cat1                      A02
cat2                    A0204
cat3                A02041000
catNm            인문 산업관광지 자동차
Name: 54, dtype: object
55 contentTypeId            12
cat1                    A02
cat2                  A0205
cat3
catNm            인문 건축/조형물
Name: 55, dtype: object
56 contentTypeId                 12
cat1                         A02
cat2                       A0205
cat3                   A02050100
catNm            인문 건축/조형물 다리/대교
Name: 56, dtype: object
57 contentTypeId                       12
cat1                               A02
cat2                             A0205
cat3                         A02050200
catNm            인문 건축/조형물 기념탑/기념비/전망대
Name: 57, dtype: object
58 contentTypeId              12
cat1                      A02
cat2                    A0205
cat3                A02050300
catNm            인문 건축/조형물 분수
Name: 58, dtype: object
59 contentTypeId              12
cat1                      A02
cat2                    A0205
cat3                A02050400
catNm            인문 건축/조형물 동상
Name: 59, dtype: object
60 contentTypeId              12
cat1                      A02
cat2                    A0205
cat3                A02050500
catNm            인문 건축/조형물 터널
Name: 60, dtype: object
61 contentTypeId                12
cat1                        A02
cat2                      A0205
cat3                  A02050600
catNm            인문 건축/조형물 유명건물
Name: 61, dtype: object
62 contentTypeId          14
cat1                  A02
cat2                A0206
cat3
catNm            인문 문화시설
Name: 62, dtype: object
63 contentTypeId             14
cat1                     A02
cat2                   A0206
cat3               A02060100
catNm            인문 문화시설 박물관
Name: 63, dtype: object
64 contentTypeId             14
cat1                     A02
cat2                   A0206
cat3               A02060200
catNm            인문 문화시설 기념관
Name: 64, dtype: object
65 contentTypeId             14
cat1                     A02
cat2                   A0206
cat3               A02060300
catNm            인문 문화시설 전시관
Name: 65, dtype: object
66 contentTypeId               14
cat1                       A02
cat2                     A0206
cat3                 A02060400
catNm            인문 문화시설 컨벤션센터
Name: 66, dtype: object
67 contentTypeId                14
cat1                        A02
cat2                      A0206
cat3                  A02060500
catNm            인문 문화시설 미술관/화랑
Name: 67, dtype: object
68 contentTypeId             14
cat1                     A02
cat2                   A0206
cat3               A02060600
catNm            인문 문화시설 공연장
Name: 68, dtype: object
69 contentTypeId             14
cat1                     A02
cat2                   A0206
cat3               A02060700
catNm            인문 문화시설 문화원
Name: 69, dtype: object
70 contentTypeId               14
cat1                       A02
cat2                     A0206
cat3                 A02060800
catNm            인문 문화시설 외국문화원
Name: 70, dtype: object
71 contentTypeId             14
cat1                     A02
cat2                   A0206
cat3               A02060900
catNm            인문 문화시설 도서관
Name: 71, dtype: object
72 contentTypeId              14
cat1                      A02
cat2                    A0206
cat3                A02061000
catNm            인문 문화시설 대형서점
Name: 72, dtype: object
73 contentTypeId                14
cat1                        A02
cat2                      A0206
cat3                  A02061100
catNm            인문 문화시설 문화전수시설
Name: 73, dtype: object
74 contentTypeId             14
cat1                     A02
cat2                   A0206
cat3               A02061200
catNm            인문 문화시설 영화관
Name: 74, dtype: object
75 contentTypeId             14
cat1                     A02
cat2                   A0206
cat3               A02061300
catNm            인문 문화시설 어학당
Name: 75, dtype: object
76 contentTypeId            14
cat1                    A02
cat2                  A0206
cat3              A02061400
catNm            인문 문화시설 학교
Name: 76, dtype: object

In [11]:
from sqlalchemy import insert

with engine.connect() as conn:
    for (idx, row), embedding in zip(final_df.iterrows(), embeddings):
        stmt = insert(table).values(
            contentTypeId=row["contentTypeId"],
            cat1=row["cat1"],
            cat2=row["cat2"],
            cat3=row["cat3"],
            catNm=row["catNm"],
            embedding=embedding
        )
        conn.execute(stmt)
    conn.commit()